@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@* header *@
<script type="text/javascript">

    (function(app) {

        var initialData = {
            NullValue: null,
            StringValue: "my string",
            DateValue: new Date(),
            NumberValue: new Number(),
            FloatValue: 99.9,
            IntValue: 88,
            ObjectValue: {
                Id: 1,
                Name: "object 1"
            },
            BasicArrayValue: [1, 2, 3],
            ComplexArrayValue: [
                { Id: 1, Name: "array 1" },
                { Id: 2, Name: "array 2" },
                { Id: 3, Name: "array 3" }
            ]
        };

        app.setPageData(initialData);

    })(Ginger);
</script>

<div id="MyRoot">
    
    <div data-bind="text: StringValue"></div>
    <div data-bind="text: SearchText"></div>
    
    <div data-bind="foreach: ComplexArrayValue">
        <div>
            <span data-bind="text: NameAndId"></span>
            <a href="#" data-bind="click: $root.removeFoo">remove</a>
        </div>
    </div>
    <a href="#" data-bind="click: addFoo">+add foo</a>
</div>

@* page *@
<script type="text/javascript">
    (function(i18N, urls) { // namespace

        i18N.MapTest = {
            SearchText: 'Please enter search text',
            ConfirmRemovalMessage: "Are you sure you want to remove: "
        };

        urls.MapTest = {
            GetFoos: 'http://www.yahoo.com/',
            RemoveFoo: 'http://www.google.com/'
        };

    })(t33.i18n, t33.urls);
</script>

<script type="text/javascript" src="JsModels/MapTest.js"> </script>
<script type="text/javascript" src="JsModels/ReferenceEntity.js"> </script>